body {
	background:linear-gradient(to right, rgb(48, 164, 207), rgb(57, 57, 130));
	 /*linear-gradient(to left,rgba(7,27,82,1)0%,rgba(0,128,128,1)100%);*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
